.repoBoxWrapper {
    width: 640px;
    height: 320px;
    box-sizing: border-box;
    border: 1px solid gray;
    overflow: hidden;
}
.repoBox {
    width: 1280px;
    height: 640px;
    box-sizing: border-box;
    background-color: #5f9ea0;
    padding: 40pt;

    transform: scale(0.5);
    transform-origin: top left;
}
.repoBoxWrapperHidden {
    width: 1280px;
    height: 640px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actionBox {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}